services:
  api:
    build: .
    container_name: fastapi_api
    ports:
      - "8000:8000"
    environment:
      # Option simple: SQLite dans le conteneur
      - DATABASE_URL=sqlite:///./app.db
    volumes:
      # Persiste le sqlite si tu veux garder les données entre redémarrages
      - api_data:/app
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=15d"
    networks:
      - monitoring

volumes:
  prometheus_data:
  api_data:

networks:
  monitoring:
    driver: bridge
